{
  "openapi": "3.0.1",
  "info": {
    "contact": {
      "email": "ae.modernizacion@jccm.es"
    },
    "description": "Servicio REST para gestionar SOAP Fachada Sede<br><br>Consulte la documentación de la API <a href=\"/api-rest-doc.html\" target=\"_blank\">en el manual del integrador REST</a>.",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "title": "Fachada Sede API",
    "version": "1.41.0"
  },
  "servers": [
    {
      "url": "https://fachada-sede-api-pre.cm-pre.jccm.es",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "description": "Operaciones de SEPE",
      "name": "sepe"
    },
    {
      "description": "Operaciones de CCAA",
      "name": "ccaa"
    },
    {
      "description": "Operaciones de la DGT",
      "name": "dgt"
    },
    {
      "description": "Operaciones de Obtención de carnets digitales",
      "name": "carnet-digital"
    },
    {
      "description": "Operaciones de documentacion",
      "name": "documentacion"
    },
    {
      "description": "Operaciones de Catastro",
      "name": "catastro"
    },
    {
      "description": "Operaciones de procedimiento",
      "name": "procedimiento"
    },
    {
      "description": "Operaciones de INE",
      "name": "ine"
    },
    {
      "description": "Operaciones de Intermediación",
      "name": "intermediacion"
    },
    {
      "description": "Operaciones del sescam",
      "name": "sescam"
    },
    {
      "description": "Operaciones de consulta",
      "name": "consulta"
    },
    {
      "description": "Operaciones de Educación",
      "name": "educacion"
    }
  ],
  "paths": {
    "/api/v1/afirma/milistardocumentosreq": {
      "post": {
        "operationId": "miListarDocumentosReq",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZCSLISTARTIPOSDOC"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ZCSLISTARTIPOSDOCBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSVECResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar el listado de los tipos de documentos en cesar",
        "tags": [
          "afirma"
        ]
      }
    },
    "/api/v1/afirma/mivecreq": {
      "post": {
        "operationId": "miVecReq",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZCSVEC"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ZCSVECBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSVECResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar el servicio para la validación de la firma en cesar",
        "tags": [
          "afirma"
        ]
      }
    },
    "/api/v1/carnet-digital/discapacidad-pkpass/{dni}": {
      "get": {
        "operationId": "obtenerPkPassFamiliaNumerosa_1",
        "parameters": [
          {
            "in": "path",
            "name": "dni",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener PkPass del carné de familia numerosa",
        "tags": [
          "carnet-digital"
        ]
      }
    },
    "/api/v1/carnet-digital/familia-numerosa-pkpass/{dni}": {
      "get": {
        "description": "(Método GET) Obtiene el PKPASS de familia numerosa por DNI.",
        "operationId": "obtenerPkPassFamiliaNumerosa",
        "parameters": [
          {
            "in": "path",
            "name": "dni",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PkpassFamiliaNumerosa"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener PkPass del carné de familia numerosa",
        "tags": [
          "carnet-digital"
        ]
      }
    },
    "/api/v1/carnet-digital/familia-numerosa/{dni}": {
      "get": {
        "description": "(Método GET) Obtiene los datos de familia numerosa por DNI.",
        "operationId": "obtenerDatosFamiliaNumerosa_2",
        "parameters": [
          {
            "in": "path",
            "name": "dni",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatosFamiliaNumerosa"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener datos del carné de familia numerosa",
        "tags": [
          "carnet-digital"
        ]
      }
    },
    "/api/v1/carnet-digital/grado-discapacidad/{dni}": {
      "get": {
        "operationId": "obtenerDatosFamiliaNumerosa_1",
        "parameters": [
          {
            "in": "path",
            "name": "dni",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener datos del carné de familia numerosa",
        "tags": [
          "carnet-digital"
        ]
      }
    },
    "/api/v1/carnet-digital/joven/{dni}": {
      "get": {
        "operationId": "obtenerCarnetJoven",
        "parameters": [
          {
            "in": "path",
            "name": "dni",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarnetJoven"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener carnet joven",
        "tags": [
          "carnet-digital"
        ]
      }
    },
    "/api/v1/carnet-digital/pdf/{dni}": {
      "post": {
        "operationId": "obtenerPdf",
        "parameters": [
          {
            "in": "path",
            "name": "dni",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener Pdf de un carné",
        "tags": [
          "carnet-digital"
        ]
      }
    },
    "/api/v1/carnet-digital/pkpass/{dni}": {
      "post": {
        "operationId": "obtenerPkPass",
        "parameters": [
          {
            "in": "path",
            "name": "dni",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener PkPass de un carné",
        "tags": [
          "carnet-digital"
        ]
      }
    },
    "/api/v1/carnet-digital/qr/{dni}": {
      "post": {
        "operationId": "obtenerQr",
        "parameters": [
          {
            "in": "path",
            "name": "dni",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarnetQr"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener Qr de un carné",
        "tags": [
          "carnet-digital"
        ]
      }
    },
    "/api/v1/catastro/datos-catastrales/{numDocumento}": {
      "post": {
        "operationId": "getDatosCatastrales",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTCTROCDATREQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTCTROCDATREQBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para obtener los datos catastrales",
        "tags": [
          "catastro"
        ]
      }
    },
    "/api/v1/ccaa/familia-numerosa/{numDocumento}": {
      "post": {
        "operationId": "getDatosFamiliaNumerosa",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTMINHAFPCCCAFNREQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTMINHAFPCCCAFNREQBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTMINHAFPCCCAFNRES"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para obtener los datos de familia numerosa",
        "tags": [
          "ccaa"
        ]
      }
    },
    "/api/v1/consulta/miconsultareq": {
      "post": {
        "operationId": "miConsultafaqOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZCSRFCCONSULTAFAQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ZCSRFCCONSULTAFAQBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCCONSULTAFAQResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar el servicio para obtener el texto de la consulta o reclamacion y la respuesta",
        "tags": [
          "consulta"
        ]
      }
    },
    "/api/v1/dgt/lista-vehiculos/{numDocumento}": {
      "post": {
        "operationId": "getListaVehiculos",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTDGTLISTADOVEHICULOSREQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTDGTLISTADOVEHICULOSREQBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTDGTLISTADOVEHICULOSRES"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para consultar el listado de vehiculos",
        "tags": [
          "dgt"
        ]
      }
    },
    "/api/v1/documentacion/registrarfichero": {
      "post": {
        "operationId": "registrarFicheroOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegistrarFicheroRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            },
            "description": "OK"
          }
        },
        "summary": "Permite realizar el registro de un fichero obteniendo el justificante como resultado",
        "tags": [
          "documentacion"
        ]
      }
    },
    "/api/v1/educacion/titulos-no-universitarios/{numDocumento}": {
      "post": {
        "operationId": "getTitulosNoUniversitarios",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTEDUTNUREQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTEDUTNUREQBody"
        },
        "responses": {
          "200": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/DTEDUTNURES"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para obtener los títulos no universitarios",
        "tags": [
          "educacion"
        ]
      }
    },
    "/api/v1/educacion/titulos-universitarios/{numDocumento}": {
      "post": {
        "operationId": "getTitulosUniversitarios",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTEDUTUOREQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTEDUTUOREQBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTEDUTUORES"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para obtener los títulos universitarios",
        "tags": [
          "educacion"
        ]
      }
    },
    "/api/v1/hechos-vitales/clausulas": {
      "patch": {
        "operationId": "enviarClausulas_1",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClausulasAgente"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clausulas"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Procesar las clausulas seleccionadas por un idAgente",
        "tags": [
          "hechos-vitales"
        ]
      },
      "post": {
        "operationId": "enviarClausulas",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClausulasAgente"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clausulas"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Procesar las clausulas seleccionadas por un idAgente",
        "tags": [
          "hechos-vitales"
        ]
      }
    },
    "/api/v1/hechos-vitales/clausulas/{idAgente}": {
      "get": {
        "operationId": "ObtenerClausulas",
        "parameters": [
          {
            "in": "path",
            "name": "idAgente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener Clausulas asociadas a un Agente",
        "tags": [
          "hechos-vitales"
        ]
      }
    },
    "/api/v1/hechos-vitales/hechos": {
      "patch": {
        "operationId": "actualizarListaHechos",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListaHechosAgente"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Actualizar lista de hechos",
        "tags": [
          "hechos-vitales"
        ]
      }
    },
    "/api/v1/hechos-vitales/hechos/{idAgente}": {
      "get": {
        "operationId": "obtenerListaHechosByIdAgente",
        "parameters": [
          {
            "in": "path",
            "name": "idAgente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaHechos"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener lista de hechos vitales por idAgente",
        "tags": [
          "hechos-vitales"
        ]
      }
    },
    "/api/v1/hechos-vitales/preferencias/{idAgente}": {
      "delete": {
        "operationId": "eliminarPreferencias",
        "parameters": [
          {
            "in": "path",
            "name": "idAgente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Eliminar preferencias por idAgente",
        "tags": [
          "hechos-vitales"
        ]
      }
    },
    "/api/v1/hechos-vitales/servicios/segmentacion/{idAgente}": {
      "get": {
        "operationId": "enviarClausulas_2",
        "parameters": [
          {
            "in": "path",
            "name": "idAgente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "operacion",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "size",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ultimosDias",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "hechosvitales",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Clausulas"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtencion de servicios en los ultimos dias disponibles para tramitacion",
        "tags": [
          "hechos-vitales"
        ]
      }
    },
    "/api/v1/hechos-vitales/servicios/{idAgente}": {
      "get": {
        "operationId": "getServicios",
        "parameters": [
          {
            "in": "path",
            "name": "idAgente",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListaTramitesPorHechos"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener servicios",
        "tags": [
          "hechos-vitales"
        ]
      }
    },
    "/api/v1/ine/datos-residencia/{numDocumento}": {
      "post": {
        "operationId": "getDatosResidencia",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTINECDRFREQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTINECDRFREQBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTINECDRFRES"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para obtener los datos de residencia",
        "tags": [
          "ine"
        ]
      }
    },
    "/api/v1/intermediacion/discapacidad/datos": {
      "post": {
        "operationId": "obtenerDatosFamiliaNumerosa",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestFachadaDiscapacidadInterm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Obtener datos del carné de familia numerosa",
        "tags": [
          "carnet-digital",
          "intermediacion"
        ]
      }
    },
    "/api/v1/intermediacion/familia-numerosa/datos": {
      "post": {
        "operationId": "obtenerDatosFamiliaNumerosaIntermediacion",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestFachadaFamiliaNumerosaInterm"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RespuestaRespuestaFachadaFamiliaNumerosaInterm"
                }
              }
            },
            "description": "OK"
          }
        },
        "tags": [
          "intermediacion"
        ]
      }
    },
    "/api/v1/procedimiento/inicproc": {
      "post": {
        "operationId": "miIniProcOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTProcedimiento"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESULTADOPROCEDIMIENTO"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para realizar la validacion de un procedimiento en cesar",
        "tags": [
          "procedimiento"
        ]
      }
    },
    "/api/v1/procedimiento/miconfirmarproc": {
      "post": {
        "operationId": "miConfirmarProcOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CONFIRMARPROCEDIMIENTO"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "CONFIRMARPROCEDIMIENTOBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESULTADOPROCEDIMIENTO"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para realizar la escritura de un procedimiento en cesar",
        "tags": [
          "procedimiento"
        ]
      }
    },
    "/api/v1/procedimiento/miobtenerres": {
      "post": {
        "operationId": "miObtenerRespuestaOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZCSRMOBTRESPUESTAEXP"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ZCSRMOBTRESPUESTAEXPBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRMOBTRESPUESTAEXPResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar la respuesta de un expediente en cesar",
        "tags": [
          "procedimiento"
        ]
      }
    },
    "/api/v1/procedimiento/obtenerhashdeadjunto": {
      "post": {
        "operationId": "hashAdjuntoaOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ADJUNTO"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ADJUNTOBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESULTADOPROCEDIMIENTO"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio que permite generar el hash de un documento codificado en base64 sin firma",
        "tags": [
          "procedimiento"
        ]
      }
    },
    "/api/v1/procedimiento/subiradjunto": {
      "post": {
        "operationId": "miSubirAdjuntoOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ADJUNTO"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ADJUNTOBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESULTADOPROCEDIMIENTO"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio que permite subir al buzon de tramitacion un documento codificado en base64 firmado",
        "tags": [
          "procedimiento"
        ]
      }
    },
    "/api/v1/procedimiento/subiradjuntosinfirma": {
      "post": {
        "operationId": "miSubirAdjuntoSinFirmaOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ADJUNTO"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ADJUNTOBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RESULTADOPROCEDIMIENTO"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio que permite subir al buzon de tramitacion un documento codificado en base64 sin firma",
        "tags": [
          "procedimiento"
        ]
      }
    },
    "/api/v1/publicacion/midocfirmados": {
      "post": {
        "operationId": "miDocsfirmados",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZCSRFCDOCSFIRMADOSPFEXPTE"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ZCSRFCDOCSFIRMADOSPFEXPTEBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCDOCSFIRMADOSPFEXPTEResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio que permite consultar el documento de certificado de deuda en cesar",
        "tags": [
          "publicacion"
        ]
      }
    },
    "/api/v1/publicacion/misexpedientes": {
      "post": {
        "operationId": "siMisExpedientesOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZCSRFCMISEXPEDIENTES"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ZCSRFCMISEXPEDIENTESBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCMISEXPEDIENTESResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar listado de expedientes asociados a un número de documento",
        "tags": [
          "publicacion"
        ]
      }
    },
    "/api/v1/publicacion/selectbynif": {
      "post": {
        "operationId": "myPubliSelecByNifOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTSELECTBYNIFREQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTSELECTBYNIFREQBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNIFResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar la lista de expedientes vinculados a un NIF o número de identificación",
        "tags": [
          "publicacion"
        ]
      }
    },
    "/api/v1/publicacion/selectbynifentrada": {
      "post": {
        "operationId": "myPubliSelecByNifTipoProcOperation_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTSELECTBYNIFV2REQ"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNIFResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar la lista de entradas vinculados a un NIF o número de identificación",
        "tags": [
          "publicacion"
        ]
      }
    },
    "/api/v1/publicacion/selectbynifexp": {
      "post": {
        "operationId": "myPubliSelecByNifTipoProcOperation_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTSELECTBYNIFV2REQ"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNIFResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar la lista de expedientes vinculados a un NIF o número de identificación",
        "tags": [
          "publicacion"
        ]
      }
    },
    "/api/v1/publicacion/selectbynifsalida": {
      "post": {
        "operationId": "myPubliSelecByNifTipoProcOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTSELECTBYNIFV2REQ"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNIFResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar la lista de salidas vinculados a un NIF o número de identificación",
        "tags": [
          "publicacion"
        ]
      }
    },
    "/api/v1/publicacion/selectbynumexp": {
      "post": {
        "operationId": "myPubliSelecByNumExpOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNUMEXP"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ZCSRFCPUBLISELECTBYNUMEXPBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNUMEXPResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar el expediente especificado por número de expediente",
        "tags": [
          "publicacion"
        ]
      }
    },
    "/api/v1/publicacion/selectbynumreg": {
      "post": {
        "operationId": "myPubliNumRegOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNUMREG"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "ZCSRFCPUBLISELECTBYNUMREGBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNUMREGResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consulta un expediente especificado por número de registro",
        "tags": [
          "publicacion"
        ]
      }
    },
    "/api/v1/sepe/demandante-empleo-fecha-actual/{numDocumento}": {
      "post": {
        "operationId": "getDemandanteEmpleoFechaActual",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTSEPESVDIDEFAREQ"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTSEPESVDIDEFAREQBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTSEPESVDIDEFARES"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para obtener los datos de demandante de empleo a Fecha Actual",
        "tags": [
          "sepe"
        ]
      }
    },
    "/api/v1/servicio/midetalle": {
      "post": {
        "operationId": "miDetalleOperation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTQUERY"
              }
            }
          },
          "required": true,
          "x-codegen-request-body-name": "DTQUERYBody"
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZCSRFCPUBLISELECTBYNIFResponse"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Consultar el detalle de un tramite en cesar",
        "tags": [
          "servicio",
          "publicacion"
        ]
      }
    },
    "/api/v1/sescam/cip/{numDocumento}": {
      "get": {
        "operationId": "getCipFromNif",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para obtener el CIP de un NIF",
        "tags": [
          "sescam"
        ]
      }
    },
    "/api/v1/sescam/citas-pasadas/{numDocumento}": {
      "get": {
        "operationId": "citasPasadas",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para consultar las citas pasadas",
        "tags": [
          "sescam"
        ]
      }
    },
    "/api/v1/sescam/citas/{numDocumento}": {
      "get": {
        "operationId": "citasFuturas",
        "parameters": [
          {
            "in": "path",
            "name": "numDocumento",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "header",
            "name": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "ok"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Unauthorized"
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Forbidden"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Respuesta"
                }
              }
            },
            "description": "Entry not found"
          }
        },
        "summary": "Servicio para consultar las citas futuras",
        "tags": [
          "sescam"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ADJUNTO": {
        "required": [
          "idunico",
          "nifcif",
          "nombre",
          "tipoprocedimiento"
        ],
        "type": "object",
        "properties": {
          "categoria": {
            "type": "string",
            "xml": {
              "name": "CATEGORIA"
            }
          },
          "data": {
            "type": "string",
            "xml": {
              "name": "DATA"
            }
          },
          "hash": {
            "type": "string",
            "xml": {
              "name": "HASH"
            }
          },
          "idaplic": {
            "type": "string",
            "xml": {
              "name": "IDAPLIC"
            }
          },
          "idprop": {
            "type": "string",
            "xml": {
              "name": "IDPROP"
            }
          },
          "idtrans": {
            "type": "string",
            "xml": {
              "name": "IDTRANS"
            }
          },
          "idunico": {
            "type": "string",
            "xml": {
              "name": "ID_UNICO"
            }
          },
          "metadatos": {
            "type": "string",
            "xml": {
              "name": "METADATOS"
            }
          },
          "nifcif": {
            "type": "string",
            "xml": {
              "name": "NIFCIF"
            }
          },
          "nombre": {
            "type": "string",
            "xml": {
              "name": "NOMBRE"
            }
          },
          "observaciones1": {
            "type": "string",
            "xml": {
              "name": "OBSERVACIONES_1"
            }
          },
          "observaciones2": {
            "type": "string",
            "xml": {
              "name": "OBSERVACIONES_2"
            }
          },
          "observaciones3": {
            "type": "string",
            "xml": {
              "name": "OBSERVACIONES_3"
            }
          },
          "origen": {
            "type": "string",
            "xml": {
              "name": "ORIGEN"
            }
          },
          "subject": {
            "type": "string",
            "xml": {
              "name": "SUBJECT"
            }
          },
          "tdoc": {
            "type": "string",
            "xml": {
              "name": "TDOC"
            }
          },
          "tipodoc": {
            "type": "string",
            "xml": {
              "name": "TIPODOC"
            }
          },
          "tipoprocedimiento": {
            "type": "string",
            "xml": {
[...]
